<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sakshigupta.fooddelivery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        </activity>
        <activity android:name=".spActivity">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".menu_pizza" />
        <activity android:name=".optionmenu" />
        <activity android:name=".menu_pasta" />
        <activity android:name=".menu" />
        <activity android:name=".menu_bev" />
        <activity android:name=".menu_des" />
        <activity android:name=".menu_check">
            <activity android:name=".Login" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Registerdata"/>

        </activity>
    </application>

</manifest>